params{
    kraken2{
        db = "/path/to/kraken2_db"
        nodes = "/path/to/NCBI taxonomy/nodes.dmp"
        names = "/path/to/NCBI taxonomy/names.dmp"
        /*
        nodes and names files: see https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_readme.txt
        */
        kraken2_params = "--use-names --confidence 0.5"
        mpa_params = "--display-header --percentages --keep-spaces"

    }
    /*
    This extra params{} block is needed to avoid nextflow error when including this config file.
    */
}
