
shoji {
    // gff3 = "/g/hentze/sequencing/gencode/V42/gencode.v42.annotation.plus.tRNAs.sorted.gff3"
    /*
    gff3 is a required parameter, but will be set by the genome profile.
    see directory conf/genome for available genome profiles
    */
    annotation_params = "--gene_id gene_id --gene_name gene_name --gene_type gene_type"
    split_intron = true
    window = 100
    step = 20
    ignore_pcr_duplicates = false
    primary = true
    mate = 1
    site = "m"
    offset = 0
    extract_params = "-q 0 --min_aln_len 20 --aln_frac 0.90"
    baseName = "Shoji_analysis_matrix"
    suffix = ".parquet"
}
