STAR {
    // genomeDir = "/g/hentze/sequencing/gencode/V42/Index/STAR_primary_GTF"
    /*
    genomeDir is a required parameter, but will be set by the genome profile.
    see directory conf/genome for available genome profiles
    */
    align_params = " --readFilesCommand zcat --outFilterMultimapScoreRange 1 --outFilterType BySJout --genomeLoad NoSharedMemory --outSAMattributes All --outFilterMultimapNmax 10 --outStd BAM_Unsorted --outSAMtype BAM Unsorted --chimSegmentMin 15 --chimMultimapNmax 20 --outSAMunmapped Within"
}