singularity {
    enabled = true
}

/*
tool configs
*/
includeConfig './conf/tools/bbduk.config' //bbduk
includeConfig './conf/tools/cutadapt.config' // cutadapt
includeConfig './conf/tools/fastp.config' // fastp
includeConfig './conf/tools/kraken2.config' // kraken2
includeConfig './conf/tools/shoji.config' // shoji
includeConfig './conf/tools/sourmash.config' // sourmash
includeConfig './conf/tools/STAR.config' // STAR
includeConfig './conf/tools/tracks.config' // tracks
includeConfig './conf/tools/umi_tools.config' // umi_tools
/* 
container configs
*/
includeConfig './conf/containers/singularity.config' // singularity
/*
output configs
*/
includeConfig './conf/outputs/default.config' // output structure
/*
profiles should include protocol and genome specific configs
MUST BE loaded after tool configs so that protocol/genome specific params can override tool params
*/
profiles {
    slurm {
        includeConfig './conf/run/embl_hd.config'
    }
    // protocol
    eCLIP {
        includeConfig './conf/protocol/eCLIP.config'
    }
    soniCLIP {
        includeConfig './conf/protocol/soniCLIP.config'
    }
    // genome
    hsa {
        includeConfig './conf/genome/hsa.config'
    }
}

outputDir = '/g/hentze/users/Sudeep/Projects/Nextflow/ENCODE/mydir'
// cleanup = true
// includeConfig './conf/tools/bbduk.config' //bbduk
params {
    // protocol specific parameters, default values
    dedup = false // UMI deduplication
    two_step_trim = false // two step trimming specific for eCLIP
    twopass_mapping = true // two pass mapping alignment (STAR)
    
    mode = "copy"
    input = "./data/sample_sheet.csv"
    // bbduk{
    //     // params = " "
    //     // ref = "blah"
    // }
}
