/*
plugins
*/
plugins {
  id 'nf-schema@~2.5.0'
  id 'nf-prov@1.5.0'
}
/*
tool configs
*/
includeConfig './conf/tools/bbduk.config' //bbduk
includeConfig './conf/tools/cutadapt.config' // cutadapt
includeConfig './conf/tools/fastp.config' // fastp
includeConfig './conf/tools/flexbar.config' // flexbar
includeConfig './conf/tools/kraken2.config' // kraken2
includeConfig './conf/tools/shoji.config' // shoji
includeConfig './conf/tools/sourmash.config' // sourmash
includeConfig './conf/tools/STAR.config' // STAR
includeConfig './conf/tools/tracks.config' // tracks
includeConfig './conf/tools/umi_tools.config' // umi_tools
/* 
container configs
*/
apptainer {
    enabled = true
    autoMounts = true
}
includeConfig './conf/containers/singularity.config' // singularity
/*
default output directory
can be overridden by params.outdir
*/
outputDir = '/path/to/output/dir'
/*
provenance config
see: https://github.com/nextflow-io/nf-prov
commented out for now

prov {
  enabled = true
  formats {
    bco {
      file = 'bco.json'
      overwrite = true
    }
    wrroc {
      file = 'ro-crate-metadata.json'
      overwrite = true
    }
  }
}
*/
/*
default params
*/
params {
    // placeholder for sample sheet path, should be overridden by CLI or profile
    input = "/path/to/sample_sheet.csv"
    // basic params, MUST BE overridden by protocol/genome profiles
    demultiplex = false  // whether to demultiplex (for iCLIP)
    dedup = false // iCLIP, eCLIP, R2-CLIP
    two_step_trim = false // eCLIP only two step trimming
    twopass_mapping = true // two pass mapping alignment (STAR), default true
    is_paired = false // special case for iCLIP data, not sure how to generalize
    rRNA_trim = true // whether to do rRNA trimming
    // tools
    bbduk{}
    cutadapt{}
    fastp{}
    flexbar{}
    kraken2{}
    shoji{}
    sourmash{}
    STAR{}
    tracks{}
    umi_tools{}
    // output directories
    out{
        QC{
            main = "QC"
            raw = "${main}/raw"
            trim = "${main}/trim"
            rRNA = "${main}/rRNA_trim"
            kraken2 = "${main}/Kraken2"
        }
        Sourmash{
            main = "Sourmash"
            raw = "${main}/raw"
            trim = "${main}/trim"
            rRNA = "${main}/rRNA_trim"
            align = "${main}/Genome_align"
            kraken2 = "${main}/Kraken2"
        }
        Fastq{
            main = "Fastq"
            trim = "${main}/trim"
            rRNA = "${main}/rRNA_trim"
            mapped = "${main}/Genome_align/mapped"
            unmapped = "${main}/Genome_align/unmapped"
            multimapped = "${main}/Genome_align/multimapped"
        }
        Align{
            main = "Genome_align"
        }
        Shoji{
            main = "Shoji"
            annotation = "${main}/annotation"
            sites = "${main}/sites"
            counts = "${main}/counts"
            tracks = "${main}/tracks"
            matrices = "${main}/matrix"
        }
        Kraken2{
            main = "Kraken2/contamination_check"
        }
        Stats{
            main = "Stats"
        }
    }
}

/*
profiles should include protocol and genome specific configs
MUST BE loaded after tool configs so that protocol/genome specific params can override tool params
*/
profiles {
    /*
    *** WARNING ***
    profiles MUST be loaded after `params{}` declaration above
    so that protocol/genome specific params can override the default params
    */
    slurm {
        includeConfig './conf/run/embl_hd.config'
    }
    // protocol
    eCLIP {
        includeConfig './conf/protocol/eCLIP.config'
    }
    iCLIP {
        includeConfig './conf/protocol/iCLIP.config'
    }
    soniCLIP {
        includeConfig './conf/protocol/soniCLIP.config'
    }
    ENCODE {
        includeConfig './conf/protocol/ENCODE.config'
    }
    // genome
    hsa {
        includeConfig './conf/genome/hsa.config'
    }
}
