singularity {
    enabled = true
}

profiles{
    slurm{ includeConfig './conf/embl_hd.config' }
}

outputDir = '/g/hentze/users/Sudeep/Projects/Nextflow/ENCODE/mydir'
cleanup = true

params{
    mode = "copy"
    input = "./data/sample_sheet.csv"
    cutadapt{
        trim1 = " --match-read-wildcards --times 1 -e 0.1 -O 1 --quality-cutoff 6 -m 18 -a NNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC  -g CTTCCGATCTACAAGTT  -g CTTCCGATCTTGGTCCT  -A AACTTGTAGATCGGA  -A AGGACCAAGATCGGA  -A ACTTGTAGATCGGAA  -A GGACCAAGATCGGAA  -A CTTGTAGATCGGAAG  -A GACCAAGATCGGAAG  -A TTGTAGATCGGAAGA  -A ACCAAGATCGGAAGA  -A TGTAGATCGGAAGAG  -A CCAAGATCGGAAGAG  -A GTAGATCGGAAGAGC  -A CAAGATCGGAAGAGC  -A TAGATCGGAAGAGCG  -A AAGATCGGAAGAGCG  -A AGATCGGAAGAGCGT  -A GATCGGAAGAGCGTC  -A ATCGGAAGAGCGTCG  -A TCGGAAGAGCGTCGT  -A CGGAAGAGCGTCGTG  -A GGAAGAGCGTCGTGT"
        trim2 = "--match-read-wildcards  --times 1  -e 0.1  -O 5  --quality-cutoff 6  -m 18  -A AACTTGTAGATCGGA  -A AGGACCAAGATCGGA  -A ACTTGTAGATCGGAA  -A GGACCAAGATCGGAA  -A CTTGTAGATCGGAAG  -A GACCAAGATCGGAAG  -A TTGTAGATCGGAAGA  -A ACCAAGATCGGAAGA  -A TGTAGATCGGAAGAG  -A CCAAGATCGGAAGAG  -A GTAGATCGGAAGAGC  -A CAAGATCGGAAGAGC  -A TAGATCGGAAGAGCG  -A AAGATCGGAAGAGCG  -A AGATCGGAAGAGCGT  -A GATCGGAAGAGCGTC  -A ATCGGAAGAGCGTCG  -A TCGGAAGAGCGTCGT  -A CGGAAGAGCGTCGTG  -A GGAAGAGCGTCGTGT"
    }
    sourmash{
        sketch = "k=11,k=15,k=17,k=21,k=25,k=31,scaled=100"
        abund = true
        comparison_K = 17
    }
    singularity{
        qc = "/g/hentze/tools/Singularity_containers/quality-control_f42405cc.sif"
        trim = "/g/hentze/tools/Singularity_containers/trim_23eee457.sif"
        sourmash = "/g/hentze/tools/Singularity_containers/sourmash_ca5dd3ee.sif"
    }
    
}

