
params{
    dedup = true
    
    cutadapt{
        trim1 = " --match-read-wildcards --times 1 -e 0.1 -O 1 --quality-cutoff 6 -m 18 -a NNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC  -g CTTCCGATCTACAAGTT  -g CTTCCGATCTTGGTCCT  -A AACTTGTAGATCGGA  -A AGGACCAAGATCGGA  -A ACTTGTAGATCGGAA  -A GGACCAAGATCGGAA  -A CTTGTAGATCGGAAG  -A GACCAAGATCGGAAG  -A TTGTAGATCGGAAGA  -A ACCAAGATCGGAAGA  -A TGTAGATCGGAAGAG  -A CCAAGATCGGAAGAG  -A GTAGATCGGAAGAGC  -A CAAGATCGGAAGAGC  -A TAGATCGGAAGAGCG  -A AAGATCGGAAGAGCG  -A AGATCGGAAGAGCGT  -A GATCGGAAGAGCGTC  -A ATCGGAAGAGCGTCG  -A TCGGAAGAGCGTCGT  -A CGGAAGAGCGTCGTG  -A GGAAGAGCGTCGTGT"
        trim2 = "--match-read-wildcards  --times 1  -e 0.1  -O 5  --quality-cutoff 6  -m 18  -A AACTTGTAGATCGGA  -A AGGACCAAGATCGGA  -A ACTTGTAGATCGGAA  -A GGACCAAGATCGGAA  -A CTTGTAGATCGGAAG  -A GACCAAGATCGGAAG  -A TTGTAGATCGGAAGA  -A ACCAAGATCGGAAGA  -A TGTAGATCGGAAGAG  -A CCAAGATCGGAAGAG  -A GTAGATCGGAAGAGC  -A CAAGATCGGAAGAGC  -A TAGATCGGAAGAGCG  -A AAGATCGGAAGAGCG  -A AGATCGGAAGAGCGT  -A GATCGGAAGAGCGTC  -A ATCGGAAGAGCGTCG  -A TCGGAAGAGCGTCGT  -A CGGAAGAGCGTCGTG  -A GGAAGAGCGTCGTGT"
    }
    fastp{
        trim1 = "--disable_trim_poly_g -q 6 -l 18 -a NNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC   -a CTTCCGATCTACAAGTT   -a CTTCCGATCTTGGTCCT   --adapter_sequence_r2 AACTTGTAGATCGGA   --adapter_sequence_r2 AGGACCAAGATCGGA   --adapter_sequence_r2 ACTTGTAGATCGGAA   --adapter_sequence_r2 GGACCAAGATCGGAA   --adapter_sequence_r2 CTTGTAGATCGGAAG   --adapter_sequence_r2 GACCAAGATCGGAAG   --adapter_sequence_r2 TTGTAGATCGGAAGA   --adapter_sequence_r2 ACCAAGATCGGAAGA   --adapter_sequence_r2 TGTAGATCGGAAGAG   --adapter_sequence_r2 CCAAGATCGGAAGAG   --adapter_sequence_r2 GTAGATCGGAAGAGC   --adapter_sequence_r2 CAAGATCGGAAGAGC   --adapter_sequence_r2 TAGATCGGAAGAGCG   --adapter_sequence_r2 AAGATCGGAAGAGCG   --adapter_sequence_r2 AGATCGGAAGAGCGT   --adapter_sequence_r2 GATCGGAAGAGCGTC   --adapter_sequence_r2 ATCGGAAGAGCGTCG   --adapter_sequence_r2 TCGGAAGAGCGTCGT   --adapter_sequence_r2 CGGAAGAGCGTCGTG   --adapter_sequence_r2 GGAAGAGCGTCGTGT"
        trim2 = "--disable_trim_poly_g -q 6 -l 18 --adapter_sequence_r2 AACTTGTAGATCGGA  --adapter_sequence_r2 AGGACCAAGATCGGA  --adapter_sequence_r2 ACTTGTAGATCGGAA  --adapter_sequence_r2 GGACCAAGATCGGAA  --adapter_sequence_r2 CTTGTAGATCGGAAG  --adapter_sequence_r2 GACCAAGATCGGAAG  --adapter_sequence_r2 TTGTAGATCGGAAGA  --adapter_sequence_r2 ACCAAGATCGGAAGA  --adapter_sequence_r2 TGTAGATCGGAAGAG  --adapter_sequence_r2 CCAAGATCGGAAGAG  --adapter_sequence_r2 GTAGATCGGAAGAGC  --adapter_sequence_r2 CAAGATCGGAAGAGC  --adapter_sequence_r2 TAGATCGGAAGAGCG  --adapter_sequence_r2 AAGATCGGAAGAGCG  --adapter_sequence_r2 AGATCGGAAGAGCGT  --adapter_sequence_r2 GATCGGAAGAGCGTC  --adapter_sequence_r2 ATCGGAAGAGCGTCG  --adapter_sequence_r2 TCGGAAGAGCGTCGT  --adapter_sequence_r2 CGGAAGAGCGTCGTG  --adapter_sequence_r2 GGAAGAGCGTCGTGT"
    }
}