params{
    demultiplex = false // for R2CLIP
    bc_pattern = "NNNNNNNN" // 8nt UMI, complete read2
    dedup = true
    two_step_trim = false
    twopass_mapping = true // two pass mapping alignment (STAR)
    min_read_length = 15
    r2_clip = true // special case for R2-CLIP, use all of read2 as UMI
    fastp {
        trim = "-a AAAAAAAAAA --trim_poly_g --trim_poly_x --trim_front1 1 -q 6 -L --low_complexity_filter --overrepresentation_analysis"
        adapters = "${projectDir}/data/adapters/generic_adapters.fa"
    }
    STAR {
        align_params = " --readFilesCommand zcat --outFilterMultimapScoreRange 1 --outFilterType BySJout --genomeLoad NoSharedMemory --outSAMattributes All --outFilterMultimapNmax 10 --outStd BAM_Unsorted --outSAMtype BAM Unsorted --chimSegmentMin 15 --chimMultimapNmax 20 --outSAMunmapped Within"
    }
    shoji {
        mate = 1
        site = "s"
        offset = 0
        baseName = "R2CLIP"
    }
}