params {
    config_profile_contact     = "gitlab-data-sciences-sci-workflows-nextflow-config-6076-issue-@embl.de"
    config_profile_description = "The EMBL Heidelberg HPC cluster profile"
    config_profile_name        = 'EMBL_HD'
    config_profile_url         = 'https://git.embl.de/data-sciences/sci-workflows/nextflow-config'
}



process {
    def scratch_dir = System.getenv("SCRATCHDIR")
    maxRetries = 3
    cache = 'lenient'
    afterScript = 'sleep 10'
    queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4.GB) ? "htc-el8" : "bigmem" }

    resourceLimits = [
        cpus: 36,
        memory: 270.GB,
        time: 96.h
    ]

    withLabel:process_single {
        cpus   = {1}
        memory = { 15.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 5 * task.attempt }
        memory = { 15.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 8  * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = { 10.h * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 12 * task.attempt }
        memory = { 90.GB * task.attempt }
        time   = { 14.h * task.attempt }
    }

    withLabel:gpu {
        queue = 'gpu-el8'
        containerOptions = '--nv' //enable Nvidia support
    }

    withLabel:bigmem {
        queue = 'bigmem'
    }

    withLabel:low_qos {
        clusterOptions = '--qos=low'
    }
}

executor {
    name = "slurm"
    queueSize = 200
    submitRateLimit = "10/1sec"
    pollInterval = '30sec'
    exitReadTimeout = "5 min"
    retry{
        reason = "*"
        maxAttempt = 3
    }
}

