// conda environments

process{
    withLabel: 'BBDUK' {
        conda = "${projectDir}/conf/conda/bbmap.yaml"
    }

    withLabel: 'CUTADAPT|FASTP' {
        conda = "${projectDir}/conf/conda/trim.yaml"
    }

    withLabel:'FASTQC|MULTIQC' {
        conda = "${projectDir}/conf/conda/qc.yaml"
    }

    withLabel: 'FLEXBAR' {
        conda = "${projectDir}/conf/conda/flexbar.yaml"
    }

    withLabel: 'STATTER' {
        conda = "${projectDir}/conf/conda/statter.yaml"
    }

    withLabel: 'KRAKEN2|KRAKENTOOLS'{
        conda = "${projectDir}/conf/conda/kraken2.yaml"
    }

    withLabel: 'SEQKIT'{
        conda =  "${projectDir}/conf/conda/seqkit.yaml"
    }

    withLabel: 'SHOJI'{
        conda = "${projectDir}/conf/conda/shoji.yaml"
    }

    withLabel: 'SOURMASH'{
        conda = "${projectDir}/conf/conda/sourmash.yaml"
    }

    withLabel: 'SAMTOOLS|STAR'{
        conda =  "${projectDir}/conf/conda/star.yaml"
    }

    withLabel: 'BEDGRAPH|BIGWIG'{
        conda = "${projectDir}/conf/conda/genome_ops.yaml"
    }
    
    withLabel: 'UMITOOLS'{
        conda = "${projectDir}/conf/conda/umi_tools.yaml"
    }
}