// conda environments
params{
    conda{
        bbmap = "${projectDir}/conf/conda/bbmap.yaml"
        flexbar = "${projectDir}/conf/conda/flexbar.yaml"
        genome_ops = "${projectDir}/conf/conda/genome_ops.yaml"
        kraken2 = "${projectDir}/conf/conda/kraken2.yaml"
        qc = "${projectDir}/conf/conda/qc.yaml"
        samtools = "${projectDir}/conf/conda/samtools.yaml"
        seqkit = "${projectDir}/conf/conda/seqkit.yaml"
        shoji = "${projectDir}/conf/conda/shoji.yaml"
        sourmash = "${projectDir}/conf/conda/sourmash.yaml"
        star = "${projectDir}/conf/conda/star.yaml"
        trim = "${projectDir}/conf/conda/trim.yaml"
        umi_tools = "${projectDir}/conf/conda/umi_tools.yaml"
    }
}