
process{
    withLabel: 'BBDUK' {
        container = "/g/hentze/tools/Singularity_containers/bbmap_b1becb38.sif"
    }

    withLabel: 'CUTADAPT' {
        container = "/g/hentze/tools/Singularity_containers/trim_b00da3d5.sif"
    }

    withLabel: 'FASTP' {
        container = "/g/hentze/tools/Singularity_containers/trim_b00da3d5.sif"
    }

    withLabel:'FASTQC' {
        container = "/g/hentze/tools/Singularity_containers/quality-control_f42405cc.sif"
    }

    withLabel:'MULTIQC' {
        container = "/g/hentze/tools/Singularity_containers/quality-control_f42405cc.sif"
    }

    withLabel: 'FLEXBAR' {
        container = "/g/hentze/tools/Singularity_containers/flexbar_8711bf64.sif"
    }

    withLabel: 'STATTER' {
        container = "/g/hentze/tools/Singularity_containers/ms3_f3eefd34.sif"
    }

    withLabel: 'KRAKEN2'{
        container = "/g/hentze/tools/Singularity_containers/kraken2_236b2aa1.sif"
    }

    withLabel: 'SAMTOOLS'{
        container = "/g/hentze/tools/Singularity_containers/samtools_2422331f.sif"
    }

    withLabel: 'SEQKIT'{
        container =  "/g/hentze/tools/Singularity_containers/seqkit_v2.5.2.sif"
    }

    withLabel: 'SHOJI'{
        container = "/g/hentze/tools/Singularity_containers/shoji_1d16cf68.sif"
    }

    withLabel: 'SOURMASH'{
        container = "/g/hentze/tools/Singularity_containers/sourmash_ca5dd3ee.sif"
    }

    withLabel: 'STAR'{
        container =  "/g/hentze/tools/Singularity_containers/star_20207e54.sif"
    }

    withLabel: 'BIGWIG'{
        container = "/g/hentze/tools/Singularity_containers/genome-ops_e5fb5eec.sif"
    }
    
    withLabel: 'UMITOOLS'{
        container = "/g/hentze/tools/Singularity_containers/umi_tools_0ab95f04.sif"
    }
}