# Apptainer configuration file for containers used in the pipeline
# Containers are pulled either from Biocontainers project on Quay.io or from the Hentze group on GitHub Container Registry (GHCR)
process{
    withLabel: 'BBDUK' {
        container = "quay.io/biocontainers/bbmap:39.08--h92535d8_0"
    }

    withLabel: 'CUTADAPT' {
        container = "quay.io/biocontainers/cutadapt:5.1--py39hbcbf7aa_0"
    }

    withLabel: 'FASTP' {
        container = "quay.io/biocontainers/fastp:1.0.1--heae3180_0"
    }

    withLabel:'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel:'MULTIQC' {
        container = "quay.io/biocontainers/multiqc:1.30--pyhdfd78af_1"
    }

    withLabel: 'FLEXBAR' {
        container = "quay.io/biocontainers/flexbar:3.5.0--hdfd68b8_11"
    }

    withLabel: 'STATTER' {
        container = "ghcr.io/embl-hentze-group/ngs-statter:1.20"
    }

    withLabel: 'KRAKEN2'{
        container = "quay.io/biocontainers/bracken:3.0--h9948957_2"
    }

    withLabel: 'KRAKENTOOLS'{
        container = "quay.io/biocontainers/krakentools:1.2.1--pyh7e72e81_0"
    }

    withLabel: 'SEQKIT'{
        container =  "quay.io/biocontainers/seqkit:2.13.0--he881be0_0"
    }

    withLabel: 'SHOJI'{
        container = "ghcr.io/embl-hentze-group/shoji:0.44"
    }

    withLabel: 'SOURMASH'{
        container = "quay.io/biocontainers/sourmash:4.8.14--hdfd78af_0"
    }

    withLabel: 'SAMTOOLS|STAR'{
        container =  "ghcr.io/embl-hentze-group/mulled-v2-69a6f67cb46e41b4c393f71634a9956d5e31f3e9:229f2fb03f59aa1ad2b15ce5e630b276c4ceb306-0"
    }

    withLabel: 'BEDGRAPH'{
        container = "quay.io/biocontainers/bedtools:2.31.1--h13024bc_3"
    }

    withLabel: 'BIGWIG'{
        container = "ghcr.io/embl-hentze-group/mulled-v2-78f097cf01c28496fe7c878b406a3c6a37f4b150:f6616e70a2f30859fc886adf0bcaa9b3777bf252-0"
    }
    
    withLabel: 'UMITOOLS'{
        container = "quay.io/biocontainers/umi_tools:1.1.6--py312h0fa9677_0"
    }
}