//singularity container paths
params{
     singularity {
        qc = "/g/hentze/tools/Singularity_containers/quality-control_f42405cc.sif"
        trim = "/g/hentze/tools/Singularity_containers/trim_b00da3d5.sif"
        sourmash = "/g/hentze/tools/Singularity_containers/sourmash_ca5dd3ee.sif"
        bbmap = "/g/hentze/tools/Singularity_containers/bbmap_b1becb38.sif"
        star = "/g/hentze/tools/Singularity_containers/star_20207e54.sif"
        samtools = "/g/hentze/tools/Singularity_containers/samtools_2422331f.sif"
        umi_tools = "/g/hentze/tools/Singularity_containers/umi_tools_0ab95f04.sif"
        shoji = "/g/hentze/tools/Singularity_containers/shoji_1d16cf68.sif"
        genome_ops = "/g/hentze/tools/Singularity_containers/genome-ops_e5fb5eec.sif"
        kraken2 = "/g/hentze/tools/Singularity_containers/kraken2_236b2aa1.sif"
        seqkit = "/g/hentze/tools/Singularity_containers/seqkit_v2.5.2.sif"
        stats = "/g/hentze/tools/Singularity_containers/mad_statter2_73c3ee48.sif"
        flexbar = "/g/hentze/tools/Singularity_containers/flexbar_8711bf64.sif"
    }
}