/*
Genome build: Human, gencode Hg38 v42 primary assembly
*/
params{
    //fasta & co
    fai = "/g/hentze/sequencing/gencode/V42/GRCh38.primary_assembly.genome.fa.fai"
    rRNA_fa = "/g/hentze/sequencing/rRNA/human/rRNA_version2.fa"
    // annotation
    gff3 = "/g/hentze/sequencing/gencode/V42/gencode.v42.annotation.plus.tRNAs.sorted.gff3"
    // index
    STAR_index = "/g/hentze/sequencing/gencode/V42/Index/STAR_primary_GTF"
    
    bbduk {
        ref = rRNA_fa
    }
    STAR {
        genomeDir = STAR_index
    }
    shoji {
        gff3 = gff3
    }
    tracks{
        genome = fai
    }
}