/*
Genome build: Human, gencode Hg38 v42 primary assembly
*/
params{
    bbduk {
        ref = "/g/hentze/sequencing/rRNA/human/rRNA_version2.fa"
    }
    STAR {
        genomeDir = "/g/hentze/sequencing/gencode/V42/Index/STAR_primary_GTF"
    }
    shoji {
        gff3 = "/g/hentze/sequencing/gencode/V42/gencode.v42.annotation.plus.tRNAs.sorted.gff3"
    }
    tracks{
        genome = "/g/hentze/sequencing/gencode/V42/GRCh38.primary_assembly.genome.fa.fai"
    }
}