/*
Genome build: Human, gencode Hg38 v42 primary assembly
*/
params{
    //fasta & co
    fai = "/g/hentze/sequencing/rDNA_masked_hg38_genome/Index/v2.7.11/GTF_wo_scaffolds/hg38-rDNA_v1.0_wo_scaffolds.fa.fai"
    rRNA_fa = "/g/hentze/sequencing/rRNA/human/rRNA_version2.fa"
    // annotation
    gff3 = "/g/hentze/sequencing/gencode/V42/gencode.v42.annotation.plus.tRNAs.rRNAs.sorted.gff3"
    // index
    STAR_index = "/g/hentze/sequencing/rDNA_masked_hg38_genome/Index/v2.7.11/GTF_wo_scaffolds/"
    
    bbduk {
        ref = rRNA_fa
    }
    STAR {
        genomeDir = STAR_index
    }
    shoji {
        gff3 = gff3
        annotation_params = "--gene_id gene_id --gene_name gene_name --gene_type gene_type --gene_id gene_id --gene_name gene_name --gene_type gene_type -x tRNA -x rRNA"
    }
    tracks{
        genome = fai
    }
    rRNA_trim = false
}